.chat-window{
    display:flex;
    flex-direction:column;
    height:100%;
}
.chat-messages{
    flex: 1;
    height:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat-input { border-top: 1px solid #999; padding: 20px 5px }
.chat-input-text { width: 60%; min-height: 40px; max-width: 60%; }

.message time {
    width: 120px;
    color: #999;
    display: block;
    float: left;
}

.message {
    margin: 2px;
    padding: 2px;
}

.message .self {
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

.message span {
    width: calc(100% - 120px);
    display: block;
    float: left;
    padding-left: 20px;
    border-left: solid 1px #F1F1F1;
    padding-bottom: .5em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: solid 1px #F1F1F1;
    margin: 1em 0;
    padding: 0;
}